certifi==2021.5.30
chardet==4.0.0
coverage==5.5
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.13
idna==2.10
packaging==21.3
plyer==2.0.0
pyparsing==3.0.8
python-dotenv==0.18.0
requests==2.25.1
six==1.16.0
spotipy==2.18.0
toml==0.10.2
tqdm==4.61.1
urllib3==1.26.6
youtube-dl==2021.6.6
ytmusicapi==0.17.3
